body {
   visibility: hidden;
}

@-moz-document url-prefix() {
    body{
          overflow:hidden;
      }

    .md-view {
        padding-bottom: 5%;
    }
}

.md-whiteframe-glow-z1 {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.14), 0 0 2px 2px rgba(0, 0, 0, 0.098), 0 0 5px 1px rgba(0, 0, 0, 0.084);
}

.md-grey-theme {
    background: #f6f6f6 !important;
    color: #202020 !important;
    padding: 8px;
}

.md-list-margin{
    margin: 2%;
}

.md-align-l{
    text-align: left;
}
.md-align-r{
    text-align: right;
}

.md-align-c{
    text-align: center;
}

.md-input-label-90 {
    width: 90px
}

.md-input-container-210 {
    margin-left: 30%;
    width: 210px;
}

.md-input-container-160 {
    width: 160px;
}

.md-input-container-70 {
    width: 70px;
}

.md-search {
    width: 210px
}
.flex-40 {
    webkit-flex: 0 0 20%;
    -ms-flex: 0 0 2%;
    flex: 0 0 20%;
    padding-left: 5%;
}

.flex-50 {
    webkit-flex: 0 0 50%;
    -ms-flex: 0 0 5%;
    flex: 0 0 50%;

}
@media screen and (max-width: 1090px) {
    .md-input-container-210 {
        margin-left: 10%;
        width: 210px;
    }
    .md-search {
        width: 160px
    }

    .flex-40 {
        padding-left: 5%;
    }
}

@media screen and (max-width: 860px) {
    .md-input-container-210 {
        margin-left: 0;
        width: 160px;
    }
    .md-search {
        width: 120px
    }
    .hide-860 {
        display: none;
    }
}

@media screen and (max-width: 670px) {
    .hide-670 {
        display: none;
    }
    .flex-40 {
        padding-left: 0;
    }
}

@media screen and (max-width: 540px) {
    .hide-540 {
        display: none;
    }
    .flex-40 {
        webkit-flex: 0 0 40%;
        -ms-flex: 0 0 4%;
        flex: 0 0 40%;
        margin-left: 20%;
    }

}